In [39]:
import pandas as pd
import numpy as np

In [40]:
makaan_df = pd.read_csv("modified_makaan5.csv")
makaan_df

,Index,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,"15,000"
1,1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,"16,000"
2,2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,"8,000"
3,3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,"30,000"
4,4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,"14,000"
...,...,...,...,...,...,...,...,...,...
2935,2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,"20,000"
2936,2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,"4,000"
2937,2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,NaN
2938,2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,"10,000"
2939,2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,"7,000"

In [41]:
makaan_df.drop("Index",axis=1,inplace=True)

In [42]:
makaan_df

,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,"15,000"
1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,"16,000"
2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,"8,000"
3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,"30,000"
4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,"14,000"
...,...,...,...,...,...,...,...,...
2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,"20,000"
2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,"4,000"
2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,NaN
2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,"10,000"
2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,"7,000"

In [43]:
makaan_df

,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,"15,000"
1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,"16,000"
2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,"8,000"
3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,"30,000"
4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,"14,000"
...,...,...,...,...,...,...,...,...
2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,"20,000"
2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,"4,000"
2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,NaN
2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,"10,000"
2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,"7,000"

In [44]:
makaan_df["Price"]=makaan_df["Price"].str.replace(",","")

In [45]:
makaan_df["Price"]=makaan_df["Price"].str.replace("L","")

In [46]:
makaan_df["Price"]=makaan_df["Price"].str.replace(" ","")

In [47]:
makaan_df

,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,15000
1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,16000
2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,8000
3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,30000
4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,14000
...,...,...,...,...,...,...,...,...
2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,20000
2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,4000
2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,NaN
2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,10000
2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,7000

In [48]:
makaan_df["Price"]=makaan_df["Price"].str.replace("25","25000")

In [49]:
makaan_df[1:30]

,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,16000
2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,8000
3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,30000
4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,14000
5,2 BHK Independent,Alwal,Hyderabad,1300,Unfurnished,2,West facing,10000
6,2 BHK Independent,Shaikpet,Hyderabad,800,Furnished,2,West facing,22000
7,1 BHK Apartment,Madhapur,Hyderabad,750,Furnished,1,Unknown,10000
8,3 BHK Apartment,Shamshabad,Hyderabad,1806,Furnished,3,NorthEast facing,48000
9,3 BHK Apartment,Manikonda,Hyderabad,990,Furnished,3,Unknown,16000
10,2 BHK Apartment,Kompally,Hyderabad,1055,Furnished,2,East facing,15000
11,2 BHK Independent,Upparpally,Hyderabad,700,Furnished,2,Unknown,28000
12,2 BHK Apartment,Lingampally,Hyderabad,1100,Unfurnished,2,Unknown,18000
13,3 BHK Independent,Hayathnagar,Hyderabad,1600,Furnished,3,East facing,17000
14,2 BHK Apartment,Pocharam,Hyderabad,1200,Furnished,2,West facing,16000
15,2 BHK Apartment,Gachibowli,Hyderabad,1200,Furnished,2,East facing,25000000
16,2 BHK Apartment,Bowenpally,Hyderabad,1250,Furnished,2,West facing,25000000
17,3 BHK Apartment,Manikonda,Hyderabad,1599,Furnished,3,Unknown,75000
18,1 BHK Independent,Dammaiguda,Hyderabad,650,Unfurnished,1,Unknown,6500
19,2 BHK Independent,Hafeezpet,Hyderabad,900,Furnished,2,Unknown,40000
20,1 BHK Apartment,Madhapur,Hyderabad,650,Furnished,1,East facing,15000
21,1 BHK Apartment,Bolarum,Hyderabad,850,Furnished,2,North facing,11000
22,3 BHK Apartment,Bandlaguda Jagir,Hyderabad,1548,Furnished,3,North facing,30000
23,3 BHK Independent,Toli Chowki,Hyderabad,1800,Furnished,3,Unknown,20000
24,2 BHK Independent,TurkaYamjal,Hyderabad,900,Furnished,2,Unknown,8000
25,3 BHK Apartment,Neredmet,Hyderabad,1330,Furnished,2,West facing,17000
26,1 BHK Apartment,Kondapur,Hyderabad,763,Furnished,1,NorthEast facing,10000
27,3 BHK Apartment,Kondapur,Hyderabad,2321,Furnished,3,NorthEast facing,62000
28,2 BHK Independent,Attapur,Hyderabad,1000,Unfurnished,2,East facing,15000
29,2 BHK Apartment,Manikonda,Hyderabad,1300,Furnished,2,East facing,30000

In [50]:
makaan_df.isnull().sum()

Apartment Type      0
Area               29
City                0
Area In sqft        0
Status              0
No_of_bathrooms     0
Facing              0
Price              39
dtype: int64

In [51]:
makaan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Apartment Type   2940 non-null   object
 1   Area             2911 non-null   object
 2   City             2940 non-null   object
 3   Area In sqft     2940 non-null   int64
 4   Status           2940 non-null   object
 5   No_of_bathrooms  2940 non-null   int64
 6   Facing           2940 non-null   object
 7   Price            2901 non-null   object
dtypes: int64(2), object(6)
memory usage: 183.9+ KB

In [52]:
makaan_df["No_of_bathrooms"]=makaan_df["No_of_bathrooms"].astype(np.int8)

In [53]:
makaan_df["Price"] = makaan_df["Price"].astype(np.float32)

In [54]:
makaan_df.describe(percentiles=[0,0.2,0.4,0.6,0.7,0.8,0.9])

       Area In sqft  No_of_bathrooms        Price
count   2940.000000      2940.000000      2901.00
mean     955.157823         1.796599   1711129.25
std      626.381486         0.818376   6160042.00
min      150.000000         1.000000        15.00
0%       150.000000         1.000000        15.00
20%      500.000000         1.000000      8000.00
40%      700.000000         1.000000     13000.00
50%      800.000000         2.000000     15000.00
60%      970.000000         2.000000     20000.00
70%     1100.000000         2.000000     27000.00
80%     1250.000000         2.000000     40000.00
90%     1650.000000         3.000000     75000.00
max     8000.000000         8.000000  32500000.00

In [55]:
makaan_df['Price'].mean()

1711129.2

In [56]:
makaan_df['Price'].median()

15000.0

In [57]:
makaan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Apartment Type   2940 non-null   object
 1   Area             2911 non-null   object
 2   City             2940 non-null   object
 3   Area In sqft     2940 non-null   int64
 4   Status           2940 non-null   object
 5   No_of_bathrooms  2940 non-null   int8
 6   Facing           2940 non-null   object
 7   Price            2901 non-null   float32
dtypes: float32(1), int64(1), int8(1), object(5)
memory usage: 152.3+ KB

In [58]:
makaan_df.fillna({"Area":"Unknown",
                  "Price":makaan_df['Price'].median()
                 },inplace=True)

In [59]:
makaan_df

,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,15000.0
1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,16000.0
2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,8000.0
3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,30000.0
4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,14000.0
...,...,...,...,...,...,...,...,...
2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,20000.0
2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,4000.0
2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,15000.0
2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,10000.0
2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,7000.0

In [60]:
makaan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Apartment Type   2940 non-null   object
 1   Area             2940 non-null   object
 2   City             2940 non-null   object
 3   Area In sqft     2940 non-null   int64
 4   Status           2940 non-null   object
 5   No_of_bathrooms  2940 non-null   int8
 6   Facing           2940 non-null   object
 7   Price            2940 non-null   float32
dtypes: float32(1), int64(1), int8(1), object(5)
memory usage: 152.3+ KB

In [61]:
column = ["Apartment Type","Area In sqft","Facing","No_of_bathrooms","Status","Price","Area","City"]
makaan_df=makaan_df[column]

In [62]:
makaan_df[1:30]

,Apartment Type,Area In sqft,Facing,No_of_bathrooms,Status,Price,Area,City
1,2 BHK Apartment,1160,North facing,2,Furnished,16000.0,Saroornagar,Hyderabad
2,1 BHK Independent,600,East facing,1,Unfurnished,8000.0,Patancheru,Hyderabad
3,3 BHK Apartment,1575,West facing,3,Furnished,30000.0,Bachupally,Hyderabad
4,2 BHK Independent,900,Unknown,2,Furnished,14000.0,Bandlaguda Jagir,Hyderabad
5,2 BHK Independent,1300,West facing,2,Unfurnished,10000.0,Alwal,Hyderabad
6,2 BHK Independent,800,West facing,2,Furnished,22000.0,Shaikpet,Hyderabad
7,1 BHK Apartment,750,Unknown,1,Furnished,10000.0,Madhapur,Hyderabad
8,3 BHK Apartment,1806,NorthEast facing,3,Furnished,48000.0,Shamshabad,Hyderabad
9,3 BHK Apartment,990,Unknown,3,Furnished,16000.0,Manikonda,Hyderabad
10,2 BHK Apartment,1055,East facing,2,Furnished,15000.0,Kompally,Hyderabad
11,2 BHK Independent,700,Unknown,2,Furnished,28000.0,Upparpally,Hyderabad
12,2 BHK Apartment,1100,Unknown,2,Unfurnished,18000.0,Lingampally,Hyderabad
13,3 BHK Independent,1600,East facing,3,Furnished,17000.0,Hayathnagar,Hyderabad
14,2 BHK Apartment,1200,West facing,2,Furnished,16000.0,Pocharam,Hyderabad
15,2 BHK Apartment,1200,East facing,2,Furnished,25000000.0,Gachibowli,Hyderabad
16,2 BHK Apartment,1250,West facing,2,Furnished,25000000.0,Bowenpally,Hyderabad
17,3 BHK Apartment,1599,Unknown,3,Furnished,75000.0,Manikonda,Hyderabad
18,1 BHK Independent,650,Unknown,1,Unfurnished,6500.0,Dammaiguda,Hyderabad
19,2 BHK Independent,900,Unknown,2,Furnished,40000.0,Hafeezpet,Hyderabad
20,1 BHK Apartment,650,East facing,1,Furnished,15000.0,Madhapur,Hyderabad
21,1 BHK Apartment,850,North facing,2,Furnished,11000.0,Bolarum,Hyderabad
22,3 BHK Apartment,1548,North facing,3,Furnished,30000.0,Bandlaguda Jagir,Hyderabad
23,3 BHK Independent,1800,Unknown,3,Furnished,20000.0,Toli Chowki,Hyderabad
24,2 BHK Independent,900,Unknown,2,Furnished,8000.0,TurkaYamjal,Hyderabad
25,3 BHK Apartment,1330,West facing,2,Furnished,17000.0,Neredmet,Hyderabad
26,1 BHK Apartment,763,NorthEast facing,1,Furnished,10000.0,Kondapur,Hyderabad
27,3 BHK Apartment,2321,NorthEast facing,3,Furnished,62000.0,Kondapur,Hyderabad
28,2 BHK Independent,1000,East facing,2,Unfurnished,15000.0,Attapur,Hyderabad
29,2 BHK Apartment,1300,East facing,2,Furnished,30000.0,Manikonda,Hyderabad

In [63]:
makaan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Apartment Type   2940 non-null   object
 1   Area In sqft     2940 non-null   int64
 2   Facing           2940 non-null   object
 3   No_of_bathrooms  2940 non-null   int8
 4   Status           2940 non-null   object
 5   Price            2940 non-null   float32
 6   Area             2940 non-null   object
 7   City             2940 non-null   object
dtypes: float32(1), int64(1), int8(1), object(5)
memory usage: 152.3+ KB

In [73]:
makaan_df.isnull().sum()

Apartment Type     0
Area In sqft       0
Facing             0
No_of_bathrooms    0
Status             0
Price              0
Area               0
City               0
dtype: int64

In [64]:
makaan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Apartment Type   2940 non-null   object
 1   Area In sqft     2940 non-null   int64
 2   Facing           2940 non-null   object
 3   No_of_bathrooms  2940 non-null   int8
 4   Status           2940 non-null   object
 5   Price            2940 non-null   float32
 6   Area             2940 non-null   object
 7   City             2940 non-null   object
dtypes: float32(1), int64(1), int8(1), object(5)
memory usage: 152.3+ KB

In [65]:
makaan_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2935    False
2936    False
2937    False
2938    False
2939    False
Length: 2940, dtype: bool

In [66]:
makaan_df.to_csv("analysis_data.csv",index=False)

In [67]:
a = pd.read_csv("analysis_data.csv")[1:30]
a

,Apartment Type,Area In sqft,Facing,No_of_bathrooms,Status,Price,Area,City
1,2 BHK Apartment,1160,North facing,2,Furnished,16000.0,Saroornagar,Hyderabad
2,1 BHK Independent,600,East facing,1,Unfurnished,8000.0,Patancheru,Hyderabad
3,3 BHK Apartment,1575,West facing,3,Furnished,30000.0,Bachupally,Hyderabad
4,2 BHK Independent,900,Unknown,2,Furnished,14000.0,Bandlaguda Jagir,Hyderabad
5,2 BHK Independent,1300,West facing,2,Unfurnished,10000.0,Alwal,Hyderabad
6,2 BHK Independent,800,West facing,2,Furnished,22000.0,Shaikpet,Hyderabad
7,1 BHK Apartment,750,Unknown,1,Furnished,10000.0,Madhapur,Hyderabad
8,3 BHK Apartment,1806,NorthEast facing,3,Furnished,48000.0,Shamshabad,Hyderabad
9,3 BHK Apartment,990,Unknown,3,Furnished,16000.0,Manikonda,Hyderabad
10,2 BHK Apartment,1055,East facing,2,Furnished,15000.0,Kompally,Hyderabad
11,2 BHK Independent,700,Unknown,2,Furnished,28000.0,Upparpally,Hyderabad
12,2 BHK Apartment,1100,Unknown,2,Unfurnished,18000.0,Lingampally,Hyderabad
13,3 BHK Independent,1600,East facing,3,Furnished,17000.0,Hayathnagar,Hyderabad
14,2 BHK Apartment,1200,West facing,2,Furnished,16000.0,Pocharam,Hyderabad
15,2 BHK Apartment,1200,East facing,2,Furnished,25000000.0,Gachibowli,Hyderabad
16,2 BHK Apartment,1250,West facing,2,Furnished,25000000.0,Bowenpally,Hyderabad
17,3 BHK Apartment,1599,Unknown,3,Furnished,75000.0,Manikonda,Hyderabad
18,1 BHK Independent,650,Unknown,1,Unfurnished,6500.0,Dammaiguda,Hyderabad
19,2 BHK Independent,900,Unknown,2,Furnished,40000.0,Hafeezpet,Hyderabad
20,1 BHK Apartment,650,East facing,1,Furnished,15000.0,Madhapur,Hyderabad
21,1 BHK Apartment,850,North facing,2,Furnished,11000.0,Bolarum,Hyderabad
22,3 BHK Apartment,1548,North facing,3,Furnished,30000.0,Bandlaguda Jagir,Hyderabad
23,3 BHK Independent,1800,Unknown,3,Furnished,20000.0,Toli Chowki,Hyderabad
24,2 BHK Independent,900,Unknown,2,Furnished,8000.0,TurkaYamjal,Hyderabad
25,3 BHK Apartment,1330,West facing,2,Furnished,17000.0,Neredmet,Hyderabad
26,1 BHK Apartment,763,NorthEast facing,1,Furnished,10000.0,Kondapur,Hyderabad
27,3 BHK Apartment,2321,NorthEast facing,3,Furnished,62000.0,Kondapur,Hyderabad
28,2 BHK Independent,1000,East facing,2,Unfurnished,15000.0,Attapur,Hyderabad
29,2 BHK Apartment,1300,East facing,2,Furnished,30000.0,Manikonda,Hyderabad

In [68]:
a.duplicated()[30:500]

Series([], dtype: bool)

In [69]:
a.drop_duplicates()

,Apartment Type,Area In sqft,Facing,No_of_bathrooms,Status,Price,Area,City
1,2 BHK Apartment,1160,North facing,2,Furnished,16000.0,Saroornagar,Hyderabad
2,1 BHK Independent,600,East facing,1,Unfurnished,8000.0,Patancheru,Hyderabad
3,3 BHK Apartment,1575,West facing,3,Furnished,30000.0,Bachupally,Hyderabad
4,2 BHK Independent,900,Unknown,2,Furnished,14000.0,Bandlaguda Jagir,Hyderabad
5,2 BHK Independent,1300,West facing,2,Unfurnished,10000.0,Alwal,Hyderabad
6,2 BHK Independent,800,West facing,2,Furnished,22000.0,Shaikpet,Hyderabad
7,1 BHK Apartment,750,Unknown,1,Furnished,10000.0,Madhapur,Hyderabad
8,3 BHK Apartment,1806,NorthEast facing,3,Furnished,48000.0,Shamshabad,Hyderabad
9,3 BHK Apartment,990,Unknown,3,Furnished,16000.0,Manikonda,Hyderabad
10,2 BHK Apartment,1055,East facing,2,Furnished,15000.0,Kompally,Hyderabad
11,2 BHK Independent,700,Unknown,2,Furnished,28000.0,Upparpally,Hyderabad
12,2 BHK Apartment,1100,Unknown,2,Unfurnished,18000.0,Lingampally,Hyderabad
13,3 BHK Independent,1600,East facing,3,Furnished,17000.0,Hayathnagar,Hyderabad
14,2 BHK Apartment,1200,West facing,2,Furnished,16000.0,Pocharam,Hyderabad
15,2 BHK Apartment,1200,East facing,2,Furnished,25000000.0,Gachibowli,Hyderabad
16,2 BHK Apartment,1250,West facing,2,Furnished,25000000.0,Bowenpally,Hyderabad
17,3 BHK Apartment,1599,Unknown,3,Furnished,75000.0,Manikonda,Hyderabad
18,1 BHK Independent,650,Unknown,1,Unfurnished,6500.0,Dammaiguda,Hyderabad
19,2 BHK Independent,900,Unknown,2,Furnished,40000.0,Hafeezpet,Hyderabad
20,1 BHK Apartment,650,East facing,1,Furnished,15000.0,Madhapur,Hyderabad
21,1 BHK Apartment,850,North facing,2,Furnished,11000.0,Bolarum,Hyderabad
22,3 BHK Apartment,1548,North facing,3,Furnished,30000.0,Bandlaguda Jagir,Hyderabad
23,3 BHK Independent,1800,Unknown,3,Furnished,20000.0,Toli Chowki,Hyderabad
24,2 BHK Independent,900,Unknown,2,Furnished,8000.0,TurkaYamjal,Hyderabad
25,3 BHK Apartment,1330,West facing,2,Furnished,17000.0,Neredmet,Hyderabad
26,1 BHK Apartment,763,NorthEast facing,1,Furnished,10000.0,Kondapur,Hyderabad
27,3 BHK Apartment,2321,NorthEast facing,3,Furnished,62000.0,Kondapur,Hyderabad
28,2 BHK Independent,1000,East facing,2,Unfurnished,15000.0,Attapur,Hyderabad
29,2 BHK Apartment,1300,East facing,2,Furnished,30000.0,Manikonda,Hyderabad

In [70]:
m_df = pd.read_csv("modified_makaan5.csv")
m_df

,Index,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,"15,000"
1,1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,"16,000"
2,2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,"8,000"
3,3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,"30,000"
4,4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,"14,000"
...,...,...,...,...,...,...,...,...,...
2935,2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,"20,000"
2936,2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,"4,000"
2937,2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,NaN
2938,2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,"10,000"
2939,2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,"7,000"

In [71]:
m_df.drop_duplicates()

,Index,Apartment Type,Area,City,Area In sqft,Status,No_of_bathrooms,Facing,Price
0,0,1 BHK Apartment,Gachibowli,Hyderabad,650,Furnished,1,East facing,"15,000"
1,1,2 BHK Apartment,Saroornagar,Hyderabad,1160,Furnished,2,North facing,"16,000"
2,2,1 BHK Independent,Patancheru,Hyderabad,600,Unfurnished,1,East facing,"8,000"
3,3,3 BHK Apartment,Bachupally,Hyderabad,1575,Furnished,3,West facing,"30,000"
4,4,2 BHK Independent,Bandlaguda Jagir,Hyderabad,900,Furnished,2,Unknown,"14,000"
...,...,...,...,...,...,...,...,...,...
2935,2935,2 BHK Independent,Mogappair East,Chennai,1000,Unfurnished,2,Unknown,"20,000"
2936,2936,1 BHK Independent,Tiruvottiyur,Chennai,350,Unfurnished,1,Unknown,"4,000"
2937,2937,3 BHK Apartment,Kelambakkam,Chennai,1500,Furnished,3,Unknown,NaN
2938,2938,1 BHK Independent,Pulianthope,Chennai,600,Unfurnished,1,Unknown,"10,000"
2939,2939,1 BHK Independent,Vyasarpadi,Chennai,500,Unfurnished,1,Unknown,"7,000"

In [72]:
m_df.duplicated()[1000:2000]

1000    False
1001    False
1002    False
1003    False
1004    False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 1000, dtype: bool